@model RedTeamAspire.Models.container1

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>container1</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pond_Key)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pond_Key)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intial_Population)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intial_Population)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intial_Average_Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intial_Average_Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estimated_End_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estimated_End_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estimated_Harvest_Average_Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estimated_Harvest_Average_Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estimated_Survival)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estimated_Survival)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Food_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Food_Type)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
